production:
  adapter: postgresql
  database: "{{ redmine_db_name }}"
  host: localhost
  username: "{{ redmine_db_user }}"
  password: "{{ redmine_db_passwd }}"
  encoding: utf8
  # schema_search_path: public
  pool: 5
